Xcursor.size: 16
XTerm*renderFont: true
XTerm*faceName: IBM Plex Mono Medium
XTerm*faceSize: 11
xterm*background: black
xterm*foreground: lightgray
XTerm*selectToClipboard: true
XTerm*vt100*metaSendsEscape: true
XTerm*termName: xterm-256color
XTerm.vt100.locale: true
XTerm*VT100*translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
