Xcursor.size: 16
XTerm*renderFont: true
XTerm*loginshell: true
XTerm*faceName: IBM Plex Mono Medium
XTerm*faceSize: 14
xterm*background: #f8f8f8
xterm*foreground: black
XTerm*selectToClipboard: true
XTerm*vt100*metaSendsEscape: true
XTerm*termName: xterm
XTerm.vt100.locale: true
xTerm.vt100.blink: true
XTerm.vt100.saveLines: 10000000
XTerm*VT100*translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
